@model ProyectoMerck.Models.ViewModels.FertformVM

@using (Html.BeginForm("FertilityCalculator", "Fertform", HttpMethod.Post))
{
<header style="background-color:#2EBDCD">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Home")" class="btn"><i style="color: white; font-size: 1.5em" class="bi bi-chevron-left"></i></a>
            <button style="color: white; font-size: 2em" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" style="color:white"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>    
    <div class="container-fluid text-center" style="margin-bottom:70px;">
        <div class="row mb-3">
            <div class="col-12">
                <img src="/Imagenes/LogoMerck.jpg" />
            </div>
        </div>
        <div class="row" style="font-size:20px">
            <div class="col-3 text-end">
                <i style="color: white; font-size: 2em; opacity:0.5;font-weight:900;" class="bi bi-chevron-left"></i>
            </div>
            <div class="col-6 text-light">
                <div class="row">
                    <div class="col-12">PANTALLA 1</div>
                </div>
                <div class="row">
                    <div class="col-12" style="opacity:0.5">FORMULARIO</div>
                </div>
            </div>
            <div class="col-3 text-start">
                 <i style="color: white; font-size: 2em; opacity:0.5" class="bi bi-chevron-right"></i>
            </div>
        </div>
    </div>
    <div style="height:100px; background-color: white; border-top-left-radius:30px; border-top-right-radius:30px">   
    </div>
</header>
    <div class="container">
    <div class="row border-bottom pb-5">
        <div class="col-6 col-md-5 col-lg-4 d-flex justify-content-end">
            <img src="/Imagenes/IconoEdadActual.png">
        </div>
        <div class="col-5">
            <div class="row d-flex pb-3">
                <h3 style="color:#4A1896">Edad Actual</h3>
            </div>
            <div class="row">
                @Html.DropDownListFor(model => model.CurrentAge,
                         Enumerable.Range(12, 48).Select(age =>
                         new SelectListItem
                {
                    Text = age.ToString(),
                    Value = age.ToString()
                }), new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row border-bottom pb-5 pt-3">
        <div class="col-6 col-md-5 col-lg-4 d-flex justify-content-end">
            <img src="/Imagenes/IconoEdadPrimeraMenstruacion.png">
        </div>
        <div class="col-5">
            <div class="row d-flex pb-3">
                <h3 style="color:#CA287C">Edad Primera Menstruación</h3>
            </div>
            <div class="row">
                @Html.DropDownListFor(model => model.FirstFertilityAge,
                         Enumerable.Range(11, 17).Select(age =>
                         new SelectListItem
                {
                    Text = age.ToString(),
                    Value = age.ToString()
                }), new { @class = "form-control" })
            </div>
        </div>
            <div class="row">
                @Html.ValidationSummary(false)

                <button type="submit" class="btn col-5 col-md-4 p-2 my-5 border-light offset-4 merck-button">Enviar</button>
            </div>
    </div>
</div>

}


