@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


</head>
<body class="d-flex align-items-center" style="background-color: #2EBDCD; height: 100vh; margin: 0;">
    <div class="container text-center">
        <div class="row">
            <div class="col-12">
                <img style="margin-bottom: 100px" src="~/Imagenes/LogoInicioMerck.png" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn col-6 col-md-3 p-1 my-5 border-light" style="color: white; border-radius: 50px; background-color: darkcyan" href="@Url.Action("Index", "Fertform")">Comenzar</a>

            </div>
        </div>
    </div>

    <script src="/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>