@{
    ViewData["Title"] = "Notification";
}

<header style="background-color:#2EBDCD">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Fertility")" class="btn"><i style="color: white; font-size: 1.5em" class="bi bi-chevron-left"></i></a>
            <button style="color: white; font-size: 2em" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list" style="color:white"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid" style="background-color:#2EBDCD;">
    <div class="row justify-content-center">
        <div style="background-color:#2EBDCD; margin-bottom:50px"></div>
        <div class="col-1"></div>
        <div class="col-7 offset-1 text-center align-self-center text-white" style="font-size: 2em;">Consulta enviada</div>
        <div class="col-2"></div>
        <div style="background-color:white; border-top-left-radius: 1000px; border-top-right-radius: 1000px; height: 50px"></div>
    </div>
</div>

<div class="container mt-3 mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" style="color:#2EBDCD;">Muchas gracias!</h1>
        </div>
    </div>
</div>


<div class="d-flex align-items-center justify-content-center">
    <a href="@Url.Action("Index", "Home")" class="btn col-5 col-md-4 p-2 my-5 border-light merck-button">Volver a consultar</a>
</div>
