html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
}



@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.login-container {
    width: 360px;
}

.header-bg-color {
    background-color: #2EBDCD;
}

.header-icon-left {
    color: white;
    font-size: 1.5em;
}

.subheader-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rounded-header {
    background-color: #ffff;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    height: 50px;
    margin: 0;
}

.subheader-div {
    margin-top: 65px;
    margin-bottom: 45px;
    color: #aff3fb;
}

.mt-35 {
    margin-top: 35px;
}

.header-burger {
    color: white;
    font-size: 2em
}

.subheader-body {
    background-color: #2EBDCD;
    margin: 0
}

/*Body del Home Index*/
.body {
    background-color: #2EBDCD;
    height: 100vh;
    margin: 0;
}

.flag-large{
    height:100px;
    width:150px;
    opacity: 0.4;
}

.flag-small{
    height:20px;
    width:30px;
    opacity: 0.4;
    border-radius: 100px;
}

    .flag-small:hover {
        opacity: 1;
        height: 30px;
        width: 40px;
        border-radius: 50px;
    }

.flag-selected{
    opacity:1;
    height:30px;
    width:40px;
}

.mb-70{
    margin-bottom:70px;
}

.merck-button {
    font-weight:bold;
    color: white;
    border-radius: 5px;
    background-color: darkcyan;
}


    .merck-button:hover {
        background-color: #0f69af;
        color: white;
    }

.metck-button:active{
    background-color:blue;
}


/*Consultations*/
.consultation-form-width {
    max-width: 400px;
}

.pl-40 {
    padding-left: 40px;
}

.w-40-h-40 {
    width: 80px;
    height: 80px;
}

.ml-20 {
    margin-left: 20px;
}

.consultation-label {
    color: #776793;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 5px;
}

.consultation-select {
    width: 200px;
    border-radius: 5px;
}

.consultation-label-2 {
    color: #ef4488;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    margin: 0px;
}

.clinic-text{
    text-align: center;
}

.w-200{
    width:200px;
}

.nonselected-clinic {
    color: #8C92AC;
    background-color: #E4E7F8;
    border-radius: 10px;
    font-size: 4em;
    cursor: pointer;
}

.selected-clinic {
    color: white;
    background-color: #EC3B96;
    border-radius: 8px;
    font-size: 4em;
    box-shadow: 5px 5px 5px gray;
}

.clinic-container {
/*    height: 6rem;
    border-radius: 10px;
    background-color: #583B93;*/
}

.submit-button {
    color: white;
    border-radius: 50px;
    background-color: darkcyan;
}

.clinic-container-error {
    height: 6rem;
    border-radius: 10px;
    background-color: red;
}

.hidden-icon {
    display: none;
}

.visible-icon {
    display: block;
}

/*Reporte*/

mr-10-ml-10 {
    margin-right: 10px;
    margin-left: 10px;
}