@model ReserveVM
@using ProyectoMerck.Models.Enums
@using ProyectoMerck.Models.ViewModels


@{
    ViewData["Title"] = "Indicator";
}

<header class="header-bg-color">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container-fluid">
            <a href="@Url.Action("Index", "Home")" class="btn"><i class="bi bi-chevron-left header-icon-left"></i></a>
            <button class="navbar-toggler header-burger" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list text-light"></i>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a style="color:white" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="row subheader-body">
    <div class="col-md-12">
        <div class="col-12 text-center vh-50 mt-35">
            <img class="mb-4 subheader-img" src="~/imagenes/LogoMerck.jpg" />
            <div class="text-center subheader-div">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="@Url.Action("Index","Reserve")">
                            <img src="~/imagenes/FlechaIzquierda.png" />
                        </a>
                    </div>
                    <div class="col">
                        <p class="display-4 mb-0">Indicador</p>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row rounded-header">
    </div>
</div>
<div class="container">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-12">
            @switch (Model.FertilityLevel)
            {
                case FertilityLevel.High:
                    <p id="Height">
                        La reserva ovárica ALTA es un indicador clave de la salud reproductiva de una mujer y se refiere a la cantidad y calidad de óvulos que tiene en sus ovarios. A medida que la mujer envejece, es natural que la reserva ovárica vaya disminuyendo paulatinamente. Esta disminución se debe al agotamiento natural de los folículos ováricos con el tiempo. La baja reserva ovárica puede estar asociada con una fertilidad reducida y puede ser un factor importante a considerar para las mujeres que planean concebir.

                        La disminución de la reserva ovárica puede afectar la capacidad de una mujer para concebir de forma natural y también puede afectar la respuesta a los tratamientos de fertilidad. Es importante señalar que la tasa de disminución de la reserva ovárica puede variar entre mujeres y que los factores genéticos y ambientales también pueden desempeñar un papel importante. Las mujeres que conocen su reserva ovárica pueden tomar decisiones informadas sobre planificación familiar y explorar opciones como la preservación de la fertilidad si así lo desean.

                        En la práctica clínica, las pruebas de reserva ovárica se realizan para evaluar el estado de los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que conocen los cambios en su reserva ovárica pueden trabajar en estrecha colaboración con los profesionales de la salud para desarrollar estrategias personalizadas y tomar decisiones informadas sobre la maternidad.
                        La disminución de la reserva ovárica puede afectar la capacidad de una mujer para concebir de forma natural y también puede afectar la respuesta a los tratamientos de fertilidad. Es importante señalar que la tasa de disminución de la reserva ovárica puede variar entre las mujeres y que los factores genéticos y ambientales también pueden desempeñar un papel importante. Las mujeres que conocen su reserva ovárica pueden tomar decisiones informadas sobre planificación familiar y explorar opciones como la preservación de la fertilidad si así lo desean.

                        En la práctica clínica, se realizan pruebas de reserva ovárica para evaluar el estado de los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que son conscientes de los cambios en su reserva ovárica pueden trabajar en estrecha colaboración con los profesionales de la salud para desarrollar estrategias personalizadas y tomar decisiones informadas sobre la maternidad.
                        La disminución de la reserva ovárica puede afectar la capacidad de una mujer para concebir de forma natural y también puede afectar la respuesta a los tratamientos de fertilidad. Es importante señalar que la tasa de disminución de la reserva ovárica puede variar entre las mujeres y que los factores genéticos y ambientales también pueden desempeñar un papel importante. Las mujeres que conocen su reserva ovárica pueden tomar decisiones informadas sobre planificación familiar y explorar opciones como la preservación de la fertilidad si así lo desean.

                        En la práctica clínica, se realizan pruebas de reserva ovárica para evaluar el estado de los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que son conscientes de los cambios en su reserva ovárica pueden trabajar en estrecha colaboración con los profesionales de la salud para desarrollar estrategias personalizadas y tomar decisiones informadas sobre la maternidad.
                    </p>
                    break;

                case FertilityLevel.Medium:
                    <p id="Medium">
                        La reserva ovárica MEDIA es un indicador clave de la salud reproductiva de una mujer y se refiere a la cantidad y calidad de óvulos que tiene en sus ovarios. A medida que la mujer envejece, es natural que la reserva ovárica vaya disminuyendo paulatinamente. Esta disminución se debe al agotamiento natural de los folículos ováricos con el tiempo. La baja reserva ovárica puede estar asociada con una fertilidad reducida y puede ser un factor importante a considerar para las mujeres que planean concebir.

                        La disminución de la reserva ovárica puede afectar la capacidad de una mujer para concebir de forma natural y también puede afectar la respuesta a los tratamientos de fertilidad. Es importante señalar que la tasa de disminución de la reserva ovárica puede variar entre mujeres y que los factores genéticos y ambientales también pueden desempeñar un papel importante. Las mujeres que conocen su reserva ovárica pueden tomar decisiones informadas sobre planificación familiar y explorar opciones como la preservación de la fertilidad si así lo desean.

                        En la práctica clínica, las pruebas de reserva ovárica se realizan para evaluar el estado de los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que conocen los cambios en su reserva ovárica pueden trabajar en estrecha colaboración con los profesionales de la salud para desarrollar estrategias personalizadas y tomar decisiones informadas sobre la maternidad.
                        La disminución de la reserva ovárica puede afectar la capacidad de una mujer para concebir de forma natural y también puede afectar la respuesta a los tratamientos de fertilidad. Es importante señalar que la tasa de disminución de la reserva ovárica puede variar entre las mujeres y que los factores genéticos y ambientales también pueden desempeñar un papel importante. Las mujeres que conocen su reserva ovárica pueden tomar decisiones informadas sobre planificación familiar y explorar opciones como la preservación de la fertilidad si así lo desean.

                        En la práctica clínica, se realizan pruebas de reserva ovárica para evaluar el estado de los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que son conscientes de los cambios en su reserva ovárica pueden trabajar en estrecha colaboración con los profesionales de la salud para desarrollar estrategias personalizadas y tomar decisiones informadas sobre la maternidad.
                        La disminución de la reserva ovárica puede afectar la capacidad de una mujer para concebir de forma natural y también puede afectar la respuesta a los tratamientos de fertilidad. Es importante señalar que la tasa de disminución de la reserva ovárica puede variar entre las mujeres y que los factores genéticos y ambientales también pueden desempeñar un papel importante. Las mujeres que conocen su reserva ovárica pueden tomar decisiones informadas sobre planificación familiar y explorar opciones como la preservación de la fertilidad si así lo desean.

                        En la práctica clínica, se realizan pruebas de reserva ovárica para evaluar el estado de los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que son conscientes de los cambios en su reserva ovárica pueden trabajar en estrecha colaboración con los profesionales de la salud para desarrollar estrategias personalizadas y tomar decisiones informadas sobre la maternidad.
                    </p>
                    break;

                case FertilityLevel.Low:
                    <p id="Low">
                        La baja reserva ovárica es un indicador clave de la salud reproductiva de una mujer y se refiere a la cantidad y calidad de los óvulos que tiene en sus ovarios. A medida que la mujer envejece, es natural que la reserva ovárica vaya disminuyendo paulatinamente. Esta disminución se debe al agotamiento natural de los folículos ováricos con el tiempo. La baja reserva ovárica puede estar asociada con una reducción de la fertilidad y puede ser un factor importante a considerar para las mujeres que planean concebir.

                        La disminución de la reserva ovárica puede afectar la capacidad de una mujer para concebir de forma natural y también puede afectar la respuesta a los tratamientos de fertilidad. Es importante señalar que la tasa de disminución de la reserva ovárica puede variar entre las mujeres y que los factores genéticos y ambientales también pueden desempeñar un papel importante. Las mujeres que conocen su reserva ovárica pueden tomar decisiones informadas sobre planificación familiar y explorar opciones como la preservación de la fertilidad si así lo desean.

                        En la práctica clínica, se realizan pruebas de reserva ovárica para evaluar el estado de los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que son conscientes de los cambios en su reserva ovárica pueden trabajar en estrecha colaboración con los profesionales de la salud para desarrollar estrategias personalizadas y tomar decisiones informadas sobre la maternidad.
                        La disminución de la reserva ovárica puede afectar la capacidad de una mujer para concebir de forma natural y también puede afectar la respuesta a los tratamientos de fertilidad. Es importante señalar que la tasa de disminución de la reserva ovárica puede variar entre las mujeres y que los factores genéticos y ambientales también pueden desempeñar un papel importante. Las mujeres que conocen su reserva ovárica pueden tomar decisiones informadas sobre planificación familiar y explorar opciones como la preservación de la fertilidad si así lo desean.

                        En la práctica clínica, se realizan pruebas de reserva ovárica para evaluar el estado de los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que son conscientes de los cambios en su reserva ovárica pueden trabajar en estrecha colaboración con los profesionales de la salud para desarrollar estrategias personalizadas y tomar decisiones informadas sobre la maternidad.
                        La disminución de la reserva ovárica puede afectar la capacidad de una mujer para concebir de forma natural y también puede afectar la respuesta a los tratamientos de fertilidad. Es importante señalar que la tasa de disminución de la reserva ovárica puede variar entre las mujeres y que los factores genéticos y ambientales también pueden desempeñar un papel importante. Las mujeres que conocen su reserva ovárica pueden tomar decisiones informadas sobre planificación familiar y explorar opciones como la preservación de la fertilidad si así lo desean.

                        En la práctica clínica, se realizan pruebas de reserva ovárica para evaluar el estado de los ovarios y anticipar posibles desafíos reproductivos. Las mujeres que son conscientes de los cambios en su reserva ovárica pueden trabajar en estrecha colaboración con los profesionales de la salud para desarrollar estrategias personalizadas y tomar decisiones informadas sobre la maternidad.
                    </p>
                    break;

                default:
                    <p> Nivel de fertilidad no reconocido </p>
                    break;
            }
        </div>

        <div class="d-flex align-items-center justify-content-center">
            <a asp-controller="Consultation" asp-action="Consultation" class="btn col-5 col-md-4 p-2 my-5 border-light merck-button">
                <span class="m-button-span">Contactar Centro</span>
                <span class="spinner-container"></span>
            </a>
        </div>

    </div>
</div>

